<form method="post" action="https://subscribe.tomkonig.com/subscription/form" class="listmonk-form">
  <div class="form-card">

    <h2 class="form-title">stay in touch.</h2>
    <p class="form-subtitle">
      get notified when I write something new – no spam.<br />promise.
    </p>

    <input type="hidden" name="nonce" />

    <input type="email" name="email" required placeholder="E-mail" class="form-input" />
    <input type="text" name="name" placeholder="Name (optional)" class="form-input" />

    <label class="form-checkbox">
      <input id="6bfb6" type="checkbox" name="l" checked 
             value="6bfb607c-e93f-48b0-9761-ba0ce5d21dbb" />
      I'd like to subscribe.
    </label>

    <input type="submit" value="sign up" class="form-submit" />

  </div>
</form>